# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
*.zip
demo-*
.antigravityrc
big-buck-bunny.*

#ubuntu iso
*.iso
*.zip
*.rar
*.7z
*.tar
*.gz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz4
*.tar.zst
*.tar.zst
*.tar.zst
*.tar.zst
*.tar.zst
*.tar.zst
*.tar.zst

demo-*
UDM-*
